.mainContainer {
  height: 100%;
  background: white;
}
.homepageHeader {
  background-image: url('https://static1.squarespace.com/static/59ee0dc0ec4eb75eb12277a5/t/59f0fd5ef09ca48c7949e606/1508965730862/Blacksmith-Forge.jpg?format=1500w');
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position: center;
}

.homepageBanner {
  padding: 8rem 0;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

@media (min-width: 992px) {
  .homepageBanner {
    padding: 10rem 0;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
  }
}

section {
  padding: 5rem 0;
}