body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.world-list {
  height: 100%;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.custom-container {
  height: 100%;
  background: white;
}

.bottom-spacing {
  margin-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.justified {
  display: flex;
  justify-content: space-between;
}