.ChooseCategoryToUpdate .update-categories {
  text-align: center;
}

/* .listCategory {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  text-align: center;
} */

.btn.btn-link.form {
  width: 100%;
  height: 100%;
  text-decoration: none;
}