.btn .btn-success .add-world {
  width: 100%;
}
.categoryName {
  font-weight: bolder;
  text-decoration:underline;

}

.card-body.nopadding {
  padding: 0;
}

.add-world {
  margin-top: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.btn.btn-success.add-world {
  text-align: center;
}

.btn.btn-link.category {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.world-name{
  text-align: center;
  border: solid 2px red;
}

.second-column {
  padding-left: 0;
  padding-right: 0;
}


.worldAccordion {
  width:100%;
}