.listGroup {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 20%;
  text-align: center;
}

.AccordionForWorldPage .card-body {
  padding: 0px;
  margin: 0;
}


.btn.btn-link.category {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#accordion {
  margin-top: 20px;
}

.world-name{
  text-align: center;
  background-color: grey;
}


