body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.world-list {
  height: 100%;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}
