@import './DisplayWorldDetails.css';
@import './ChooseCategoryToUpdate.css';
@import './App.css';

html,
body {
  background: darkgrey;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  background: darkgrey;
}

.header {
  text-align: center;
  margin: 0.5em 0;
  background: #B62020;
  width: auto;
  height: 1.5em;
  border-radius: 10px;
}

.page {
  background: white;
  padding: 60px 0;
  overflow: hidden;
  height: 100%;
}
.info {
  overflow: auto;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
}
.default {
  cursor: default;
}
.pointer {
  cursor: pointer;
}

#map {
  height: 100%;
  margin-bottom: 1em;
  z-index: 1;
}

.showMap {
  height: 60vh;
}

.btn-group {
  width: 100%;
}

.btn-group .btn {
  width: 100%;
}

.add-world {
  margin-bottom: 1em;
}

.mapEditButtons {
  margin-bottom: 1em;
}

.editMap {
  height: 90%;
  border-radius: 10px;
}

#editMap {
  height: 100%;
  margin-bottom: 1em;
  z-index: 1;
  border-radius: 10px;
}
