@import './DisplayWorldDetails.css';
@import './ChooseCategoryToUpdate.css';
@import './App.css';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
}

.header {
  text-align: center;
  margin: 0.5em 0;
  border: solid 2px red;
  background: white;
  width: auto;
}

.page {
  margin-top: 60px;
  overflow: auto;
  height: 100%;
}
.info {
  padding-bottom: 2em;
  overflow-y: scroll;
  position: relative;
  width: 100%;
  height: 80%;
}

#map {
  height: 100%;
  margin-bottom: 1em;
  z-index: 1;
}

.editMap {
  height: 80vh;
}

.showMap {
  height: 60vh;
}

.btn-group {
  width: 100%;
}

.btn-group .btn {
  width: 100%;
}

.add-world {
  margin-bottom: 1em;
}

.mapEditButtons {
  margin-bottom: 1em;
}